@import './2-nest.scss';

body{
    padding: 0;
    margin: 0;
}

@mixin block($fontSize){
    font-size: $fontSize;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.box{
    font-size: $fontSize;
    border: 1px solid red;
}

@for $i from 1 to 12 {
    .col-#{$i} {
        width: 1000px/(12*$i);
    }
}

.wrapper{
    background: white;
    .nav{
        @include block($fontSize);
        @extend .box;
    }
    .content{
        @include block($fontSize + 2px);
        .container{
            width: 100px;
            .hh{
                height: 100px;
                @extend .box;
            }
        }
        &:hover{
            background: $bgColor;
        }
    }
}